@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-outline {
    @apply flex items-center justify-center text-2xl text-purple-600 relative font-light border px-5 py-1 rounded border-purple-500;
  }
}
